/* Created by: Mr. Coxall
* Created on: Sep 2020
* This CSS file defines the style for index.html ICS2O-Unit1-04-HTML-CSS
*/

.mdl-layout__content {
  padding-left: 20pt;
  padding-right: 20pt;
  padding-top: 20pt;
}

/* Due to error in MDL : https://github.com/google/material-design-lite/issues/5281 */

body {
  background-color: #42931f;
}

p {
  background-color: #703870;
}
